<section id="presentacion" class="hero">
  <header class="hero__header">
    <p class="hero__hello">Hola soy</p>
    <h1 class="hero__nombre">Shanthal Tello</h1>
    <p class="hero__profesion">Fullstack Developer</p>
  </header>
  <div class="hero__presentation">
    <picture class="hero__imageContainer">
      <img class="hero__image" src="./assets/img/shanthal.png" alt="shanthal" />
    </picture>
    <div class="card__hero card__hero--text card__hero--blue">
      <p>
        Desarrolladora web Fullstack, trabajo con tecnologías como: HTML, CSS, JavaScript, ReactJS,
        NextJS, NodeJS, Express y NestJS.
      </p>
    </div>
    <div class="card__hero card__hero--text card__hero--pink">
      <p>
        Me gusta programar, leer libros de psicología, escuchar música, me gustan los gatos, jugar
        videojuegos y dibujar.
      </p>
    </div>
    <div class="card__hero card__hero--icon card__hero--orange">
      <img class="card__heroIcon" src="./assets/icons/access_time.svg" alt="time icon" />
      <p>AÑOS DE EXPERIENCIA</p>
      <p class="card__count">10+</p>
    </div>
    <div class="card__hero card__hero--icon card__hero--purple">
      <img class="card__heroIcon" src="./assets/icons/devices.svg" alt="divice icon" />
      <p>PROYECTOS COMPLETADOS</p>
      <p class="card__count">22+</p>
    </div>
  </div>
</section>
